@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <Center>
        <div>
            <h1>Rail Yatri</h1>
            <h2>Ticket Booked</h2><br/>
            <h3>Passenger Name:   @Session["ResName"]</h3>
            <h3> Source Station:  @Session["SourceStation"]</h3> 
            <h3> Transaction ID:  @Session["transactionId"]</h3>
            <h3> Destination Station : @Session["DestinationStation"]</h3> 
            <h3> PNR Number : @Session["PNR"]</h3><br />

            Success page
        </div>
    </Center>
</body>
</html>