@model  ReservationPayment.Models.TrainDetails

@{
    ViewBag.Title = "Delete";
}
<html>
<head>

    <style>


        .b1 {
            background-color: lightpink;
            border: none;
            color: black;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            border-radius: 5px;
        }

        body, div, form, input, label {
            padding: 0;
            margin: 5px;
            outline: none;
            font-family: Roboto, Arial;
            font-size: 20px;
            color: #666;
            line-height: 22px;
        }

        h1 {
            position: absolute;
            margin: 0;
            font-size: 60px;
            color: #fff;
            z-index: 2;
            line-height: 83px;
            top: 30px;
        }

        .testbox {
            display: flex;
            justify-content: center;
            align-items: center;
            height: inherit;
            padding: 20px;
        }


        input, select, textarea {
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input {
            width: calc(100% - 10px);
            padding: 5px;
        }


        .colums {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }

            .colums div {
                width: 48%;
            }
    </style>

</head>
<body>
    @Html.ActionLink("Back to List", "Index", "", new { @class = "b1" })
    @using (Html.BeginForm())
    {
        <fieldset>

            <h2>Delete Train Details</h2>

            <h3>Are you sure you want to delete this Train Detail?</h3>
            <div>


                <div>
                    @Html.LabelFor(model => model.TrainName, htmlAttributes: new { @class = "control-label col-md-2" }):
                    @Html.DisplayFor(model => model.TrainName, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div>
                    @Html.LabelFor(model => model.SourceStation, htmlAttributes: new { @class = "control-label col-md-2" }):
                    @Html.DisplayFor(model => model.SourceStation, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div>
                    @Html.LabelFor(model => model.DestinationStation, htmlAttributes: new { @class = "control-label col-md-2" }):
                    @Html.DisplayFor(model => model.DestinationStation, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div>
                    @Html.LabelFor(model => model.Fare, htmlAttributes: new { @class = "control-label col-md-2" }):
                    @Html.DisplayFor(model => model.Fare, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div>
                    @Html.LabelFor(model => model.ArrivalTime, htmlAttributes: new { @class = "control-label col-md-2" }):
                    @Html.DisplayFor(model => model.ArrivalTime, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div>
                    @Html.LabelFor(model => model.DepartureTime, htmlAttributes: new { @class = "control-label col-md-2" }):
                    @Html.DisplayFor(model => model.DepartureTime, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div>
                    @Html.LabelFor(model => model.TotalSeats, htmlAttributes: new { @class = "control-label col-md-2" }):
                    @Html.DisplayFor(model => model.TotalSeats, new { htmlAttributes = new { @class = "form-control" } })
                </div>


                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="b1" />

                </div>

            </div>
        </fieldset>
    }
</body>
</html>